.section_4 {
  height: 682px;
  padding: 100px 0;
}

.section4__list {
  &__task1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;

    h4 {
      font-weight: 500;
      font-size: 24px;
      color: #212121;
    }

    P {
      font-weight: 400;
      font-size: 16px;
      color: $text-color;
    }
  }

  &--item {
    font-weight: 400;
    font-size: 16px;
    color: $text-color;
    margin-bottom: 24px;
  }

  &__cards {
    display: flex;
    justify-content: space-between;

    &--card1 {
      width: 596px;
      height: 280.98px;
      padding: 30px;
      border: 1px solid #d9d9d9;
      border-radius: 5px;
      position: relative;

      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 200%;
        color: #212121;
      }

      .card1__task {
        width: 257px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 44px;

        &__item {
          h5 {
            font-weight: 500;
            font-size: 16px;
            color: #212121;
            margin-bottom: 5px;
          }

          p {
            font-weight: 400;
            font-size: 16px;
            color: #949494;
          }
        }
      }
    }

    .section-4__card2 {
      box-shadow: 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275),
        0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
        0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725),
        0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
      position: relative;
    }

    .card2__task {
      width: 268px;
    }
  }

  &__points {
    display: flex;
    justify-content: center;
    margin-top: 72px;
  }

  .section4__prev {
    position: absolute;
    top: 118.98px;
    right: 576px;
  }

  .section4__next {
    position: absolute;
    top: 120px;
    left: 576px;
  }
}
